@model List<WebBlog.Models.User>

@{
    ViewData["Title"] = "Admin";
}

<h1>Admin Dashboard</h1>

<h2>Manage Blog Posts</h2>
<table class="table">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Password</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.FirstName</td>
                <td>@user.LastName</td>
                <td>@user.Email</td>
                <td>@user.Password</td>
                <td>
                    <a href="@Url.Action("EditUser", "Admin", new { id = user.Id })">Edit User</a> |
                    <a href="@Url.Action("AddPost", "Admin", new { userId = user.Id })">Add Post</a> |
                    <a href="@Url.Action("UserComments", "Admin", new { userId = user.Id })">View Comments</a> |
                    @foreach (var post in user.BlogPosts)
                    {
                        <a href="@Url.Action("EditPost", "Admin", new { userId = user.Id, id = post.Id })">Edit Post</a>
                    }|
                    <a href="@Url.Action("DeleteUser", "Admin", new { id = user.Id })">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
